<form>

    <select name="type" onchange="LLAMAR A LA FUNCION!!!!!!!(this.form)">
    <option selected>
    <option value="searchId"> Buscar por ID </option>
    <option value="searchName"> Buscar por nombre </option>
    <option value="searchSkills"> Buscar por habilidades </option>
    </select>
</form>


<input type="text" [(ngModel)]="searchName">
<button (click)="searchId()"> Buscar </button>


<table>
    <thead>
        <td> ID </td>
        <td> Nombre </td>
    </thead>
    <tbody>
        <tr ><!--*ngFor="let datosok of datosokList"-->
            <td> {{datosokList.id}} </td>
            <td> {{datosokList.name}} </td>
        </tr>
    </tbody>
</table>