<form>

    <select name="type" onchange="LLAMAR A LA FUNCION!!!!!!!(this.form)">
    <option selected>
    <option value="id"> Buscar por ID </option>
    <option value="Nombre"> Buscar por nombre </option>
    <option value="habilidades"> Buscar por habilidades </option>
    </select>
</form>

 <!-- <input type="text" [(ngModel)]="name">

<p> {{ name }} </p>
 -->

<p> {{ datosok.id }} </p>
<p> {{ datosok.name }} </p>
<table>
    <thead>
        <td> ID </td>
        <td> Nombre </td>
    </thead>
    <tbody>
        <tr *ngFor="let datosok of datosokList">
            <td> {{datosok.id}} </td>
            <td> {{datosok.name}} </td>
        </tr>
    </tbody>
</table>